.mainflag {
    width: 80px;
    height: 120px;
    position: relative;
    padding-top:10px;
    display:block;
    margin-left:40%;
    -webkit-transform:rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
  }

.smallflag {
    width: 40px;
    height: 60px;
    position: relative;
    display: inline-block;
    margin-right: 40%;
    -webkit-transform:rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
  }

#map {
    position: relative;
    height: 600px;
    border: 1px solid black;
    border-radius: 8px;
}

#map-container {
    position: relative;
}

body { 
    /* padding-top: 60px;  */
    padding-bottom: 40px; 
}

.panel {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
}

/* table, tr, td {
  border: 1px solid black;              // <--- for visualizing edits
} */