<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DC Crime Predicted</title>

  <!-- Bootstrap core CSS -->
  <link href="..//static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="..//static/css/scrolling-nav.css" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scrolling-nav.css') }}"> -->

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" >DC Crime Predicted</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#visualization">Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#aboutdata">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Washington, DC Crime Predicted</h1>
      <p class="lead">DC crime trends predicted alongside weather predictions and lunar phases</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this Project</h2>
          <p class="lead">The purpose of Project NIGHTLIGHT PREDICTED is the visualization of mutual concurrence of crime, 
            weather, and lunar phases in Washington, DC for the next 5 days. NIGHTLIGHT extracted, transformed, and loaded into SQLAlchemy, 
            daily data from DC Open Data (crime), and the National Oceanic and Atmospheric Adminstration 
            (NNDC Climate Online, NASA GSFC and the Lunar Reconnaissance Orbitor [LRO]). 
            Lunar phase data includes the percent of moon illumination seen in the city. 
            We used tensor flow and keras models to make our predictions.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="visualization" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Visualizations</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="aboutdata">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About the data</h2>
          <p class="lead">These tables contains data since end August 2019 for each of the seven district in DC and one for DC as a whole. 
            We wanted to see if our prediction falls inside the correct bin.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead">We would love to hear from you!</p>
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Rebeca Hasan</h5>
                  <p class="card-text">Learn about me.</p>
                  <a href="https://www.linkedin.com/in/rebeca-hassan-5a79656/" class="btn btn-primary">LinkedIn</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Fiona Nguyen</h5>
                  <p class="card-text">Learn about me.</p>
                  <a href="https://www.linkedin.com/in/fionanguyen/" class="btn btn-primary">LinkedIn</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Veronique Singh</h5>
                  <p class="card-text">Learn about me.</p>
                  <a href="https://www.linkedin.com/in/phamnique/" class="btn btn-primary">LinkedIn</a>
                </div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Justin Stubbs</h5>
                  <p class="card-text">Learn about me.</p>
                  <a href="#" class="btn btn-primary">LinkedIn</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sam Wimberly</h5>
                  <p class="card-text">Learn about me.</p>
                  <a href="https://www.linkedin.com/in/samwimberly/" class="btn btn-primary">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Rebeca Hassan, Fiona Nguyen, Veronique Singh, Justin Stubbs, Sam Wimberly 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="..//static/js/jquery.min.js"></script>
  <script src="..//static/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="..//static/js/jquery.easing.min.js"></script>
  <!-- Custom JavaScript for this theme -->
  <script src="..//static/js/scrolling-nav.js"></script>

</body>

</html>
