<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Justin's Test Page</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/format.css') }}">
</head>
<body>
  <h1>Justin's Test Page</h1>
  
  <div class="row">
      <div class="col-md-7">
        <div id="map"></div>
      </div>
      <div class="col-md-3">
        <!-- <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div> -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 id="summary-title" class="panel-title"></h3>
          </div>
          <div id="summary-body" class="panel-body" style="display:inline-block"></div>
        </div>
      </div>
  </div>

  <!-- Leaflet JavaScript -->
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <!-- My JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/election_districts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>
</html>
